<h1 class="page-header"> Blog Feed</h1>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()"> New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="readBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp; Reload</button>
<br/>
<br/>

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
 
    <!-- Title Input -->
    <div class="form-group">
      <label for="title">Title</label>
      <div [ngClass]="{'has-error':(form.controls.title.errors && form.controls.title.dirty), 'has-success': (form.controls.title.valid && form.controls.title.dirty)}">
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Blog Title" formControlName="title" />
        <ul class="help-block">
          <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
          <li *ngIf="(form.controls.title.errors?.minlength && form.controls.title.dirty) ||
          (form.controls.title.errors?.maxlength && form.controls.title.dirty)">Max length: 50, Min length: 5</li>
          <li *ngIf="form.controls.title.errors?.alphaNumericValidation && form.controls.title.dirty">Must be a letter or number</li>
        </ul>
        
      </div>
    </div>
    <!-- Title Input END -->
  
    <!-- Body Input --> 
    <div class="form-group">
      <label for="body">Body</label>
      <div [ngClass]="{'has-error':(form.controls .body.errors && form.controls.body.dirty) , 'has-success': (form.controls.body.valid && form.controls.body.dirty)}">
        <textarea class="form-control" formControlName="body" placeholder="*Body" name="body" cols="80" rows="8"></textarea>
        <ul class="help-block">
          <li *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">This field is required</li>
          <li *ngIf="(form.controls.body.errors?.minlength && form.controls.body.dirty) ||
          (form.controls.body.errors?.maxlength && form.controls.body.dirty)">Max length: 500, Min length: 5</li>
        </ul> 
      </div>
    </div>
    <!-- Body Input --> 

     <!-- Submit Input -->
    <button type="button" class="btn btn-warning" name="button" (click)="goBack()">Go Back</button>
    <button [disabled]="!form.valid || processing" type="submit" class="btn btn-success"> Submit </button>
  </form>


<div *ngIf="!newPost">
  <div class="panel panel-primary" *ngFor= "let blog of blogPosts">
      <div class="panel-heading">
        <h3 class="panel-title">{{blog.title}}</h3>
      </div>
      <div class="panel-body">
          {{blog.body}}          
      </div>
      <!-- Footer Start -->
      <div class="panel-footer">
        <strong>Posted by:</strong> {{blog.createdBy}}
        <br/>
        <strong>Date: </strong> {{blog.createdAt | date: 'MMM dd,yyy'}}
        <br/>
        <div *ngIf="username === blog.createdBy">
            <strong>Likes: </strong> {{blog.likes}}
            <br/>
            <strong>Dislikes: </strong> {{blog.dislikes}}
        </div>
        <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"> <button class="btn btn-sm btn-info">Edit</button></a>
        <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"> <button class="btn btn-sm btn-danger">Delete</button></a>
        <!-- Likes DropDown -->
        <div class="dropdown">
          <button type="button" [disabled]="blog.likedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
            <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span> Likes: {{blog.likes}}
          </button>
          <div class="dropdown-content" >
            <a [routerLink]="['/user/', liker]" *ngFor= "let liker of blog.likedBy">{{liker}}</a>
            <!-- <a href="#">Nabeel</a>
            <a href="#">Nawaz</a> --> 
          </div>
        </div>
        <!-- Likes DropDown END -->

          <!-- DisLikes DropDown Start -->
        <div class="dropdown">
            <button type="button" [disabled]="blog.dislikedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)" >
              <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span> DisLikes: {{blog.dislikes}}
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/user/', disliker]" *ngFor= "let disliker of blog.dislikedBy">{{disliker}}</a>
              <!-- <a href="#">efg</a>
              <a href="#">ijk</a> -->
            </div>
            
        </div>
  </div>
  <!-- DisLikes DropDown END -->

  <!-- Comment Box -->
  <ul class="list-group">
      <li class="list-group-item"> 
        <button type="button" name="button" class ="btn btn-sm btn-danger"
        (click) ="draftComment(blog._id)"
         [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
        <br/>
        <br/>

        <div *ngIf="newComment.indexOf(blog._id) > -1">
            <!-- Comment Form -->
            <form [formGroup]="commentForm" >
                <textarea class="form-control" formControlName="comment" 
                  name="comment" cols="30" rows="10"></textarea> 

                 <div [ngClass]="{ 'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 
                  'has-error': commentForm.controls.comment.errors && commentForm.controls.comment.dirty }">
                   <ul class="help-block">
                     <li *ngIf="commentForm.controls.comment.errors?.required && 
                          commentForm.controls.comment.dirty"> This field is required 
                     </li>
                     <li *ngIf="(commentForm.controls.comment.errors?.maxlength &&
                           commentForm.controls.comment.dirty) || (commentForm.controls.comment.errors?.minlength
                            && commentForm.controls.comment.dirty)">
                        Comment must be at least 1 character but not more than 200.
                     </li>
                   </ul>
                 </div>

                 <!--Show Comments  -->
                <button type="submit" [disabled]="!commentForm.valid || processing" name="button"
                   class="btn btn-sm btn-info" (click)="postComment(blog._id)" >Submit Comment</button>
                <button type="button" [disabled]="processing" name="button" class="btn btn-sm btn-danger" 
                  (click)="cancelSubmission(blog._id)">Cancel</button>
              </form>
              <!-- Comment Form END-->
        </div>
        <li *ngIf="enabledComments.indexOf(blog._id) === -1 &&
           blog.comments.length > 0" class="list-group-item">
          <span (click)="expand(blog._id)">Show Comments &nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"> </div>
          </span>
        </li>

        <!-- check if comment exist -->
        <li *ngIf= "enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click) ="collapse(blog._id)">
            Hide Comments &nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"> </div>
          </span>
        </li>

        <!-- Comments List -->
        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor= "let comment of blog.comments" class="list-group-item">
            <strong>{{comment.commentator}}: </strong> {{comment.comment}}
          </li>
        </div>
        <!-- Comments List END-->
        
  </ul>
  <!-- Comment Box END -->


 </div>
</div>